.card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    align-content: center;
}

.box1{
    border: 1px solid black;
    width: 300px;
    justify-content: center;

}
.nav{
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    background-color:lavender;
}